# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/

# Expo / Mobile
.expo/
**/.expo/
*.apk
*.aab

# Environment variables
.env
**/.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
